/public
/dist
/node_modules
/src/assets/css/*.less
/vite.config.js
/postcss.config.js
.eslintignore
.eslintcache
.editorconfig
.gitignore
.prettierignore
**/*.svg
**/*.ico
*.png
*.toml
*.lock
.DS_Store
LICENSE
CNAME
.dockerignore
Dockerfile
Dockerfile.test
